// .home {
//     display: flex;

//     .homeContainer {
//         flex: 2;

//         .widgets {
//             flex: 2;
//             padding: 20px;
//             gap: 20px;
//         }
//     }
// }

@font-face {
    font-family: 'Digital-7';
    src: url(./fonts/digital-7.ttf) format('truetype');
}

body {
    background: #fc6b0b;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}

.widgets {
    display: flex;
    flex: 2;
    align-items: center;
}

.clock {
    margin: 10px;
    border-radius: 10px;
    background: #fadcb9;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 20px 20px 5px 20px;
}

.calendar {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 33px;
    padding: 0 10px;
    padding-top: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.countdown {
    font-size: 7rem;
}

.hour {
    flex: 1;
    font-size: 7rem;
    margin: 0;
    padding: 0;
    top: 0;
}

.ampm {
    align-self: flex-end;
    font-size: 2.5rem;
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.digital {
    display: inline-block;
    position: relative;
    font-family: 'Digital-7';
}

.digital :first-child {
    width: 100%;
    position: absolute;
    color: #f3c9a7;
}

.digital :last-child {
    position: relative;
    color: #f16413;
}

.digital p {
    margin: 0;
}

button {
    font-size: 1.2rem;
    border-radius: 5px;
    border-color: #f16413;
    padding: 10px;
    margin-bottom: 10px;
    color: #f16413;
}

.fa {
    margin-left: 15px;
    font-size: 1.1rem;
}

a {
    font-size: 1.1rem;
    text-decoration: none;
}

.message {
    background: #da9090;
    border: 2px solid rgb(255, 115, 0);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
    font-family: monospace, Arial, Helvetica, sans-serif;
    text-align: center;
}

@media (max-width: 770px) {

    .calendar,
    .ampm {
        font-size: 0.7rem;
    }

    .hour {
        font-size: 4rem;
    }

    .clock {
        padding: 5px;
    }

    .countdown {
        font-size: 4rem;
    }

}