.home {
  display: flex;

  .homeContainer {
    flex: 2;

    .widgets {
      flex: 2;
      padding: 20px;
      gap: 20px;
    }
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10%;
  padding: 16px;
  position: central;
  margin: 20px;
  text-align: center;
  background-color: #ffffff;
}