/* .image {
    z-index: -1;
    position: absolute;
    right: 300px;
    
} */

/* <Box sx={{ width: '100%', typography: 'body1' }}>
            <div>
                <TabContext value={value}>
                    <Box sx={{ bgcolor: 'background.paper' }} style={{ maxWidth: "100vw" }}>
                        <Tabs
                            value={value}
                            onChange={handleChange}
                            variant="scrollable"
                            scrollButtons="auto"
                            aria-label="scrollable auto tabs example"
                            style={{ maxWidth: '100%', overflowX: "hidden" }}
                        >
                            {nodes?.content.map((node, index) => (
                                <Tab label={node.name} value={index} />
                            ))}
                        </Tabs>
                    </Box>
                    <div>
                        {nodes?.content.map((node, index) => (
                            <TabPanel value={index}>
                                <TableContainer style={{ backgroundImage: `url(${image})`, backgroundSize: "contain", backgroundRepeat: "no-repeat", backgroundPosition: "center" }}>
                                    {<TableContainer style={{ background: "red" }}>}
/* 
                                    <Table>
                                        <TableBody>
                                            <TableRow
                                                key={node.name}
                                                sx={{ '&:last-child td, &:last-child th': { border: 0 } }}
                                            >
                                                <TableCell component="th" scope="row">
                                                    <h5>Name</h5>
                                                </TableCell>
                                                <TableCell>{node.name}</TableCell>
                                            </TableRow>
                                            <TableRow
                                                key={node.name}
                                                sx={{ '&:last-child td, &:last-child th': { border: 0 } }}
                                            >
                                                <TableCell component="th" scope="row">
                                                    <h5>ID</h5>
                                                </TableCell>
                                                <TableCell>{node.id}</TableCell>
                                            </TableRow>
                                            <TableRow
                                                key={node.name}
                                                sx={{ '&:last-child td, &:last-child th': { border: 0 } }}
                                            >
                                                <TableCell component="th" scope="row">
                                                    <h5>Type</h5>
                                                </TableCell>
                                                <TableCell>{node.type}</TableCell>
                                            </TableRow>
                                            <TableRow
                                                key={node.name}
                                                sx={{ '&:last-child td, &:last-child th': { border: 0 } }}
                                            >
                                                <TableCell component="th" scope="row">
                                                    <h5>Kind</h5>
                                                </TableCell>
                                                <TableCell>{node.kind}</TableCell>
                                            </TableRow>
                                            <TableRow
                                                key={node.name}
                                                sx={{ '&:last-child td, &:last-child th': { border: 0 } }}
                                            >
                                                <TableCell component="th" scope="row">
                                                    <h5>Description</h5>
                                                </TableCell>
                                                <TableCell>{node.description}</TableCell>
                                            </TableRow>
                                        </TableBody>
                                    </Table>
                                </TableContainer>
                                {widgets?.content.map((widget) => (
                                    <div style={{ maxWidth: "100%" }}>
                                        <LeanspaceWidget widgetId={widget.id} />
                                    </div>
                                ))}
                            </TabPanel>
                        ))}
                    </div>
                </TabContext>
                {/* <div style={{ height: "300px", width: "300px" }}>
                    <LeanspaceWidget widgetId="dc3813a2-ca26-4616-89b0-5f174e7d48bf" />
                    <LeanspaceWidget widgetId="48e8f7eb-96a0-4d67-97fd-01933c8c587a" />
                /* </div> */
            /* </div> */
        /* </Box > */